body {
    font-family: Arial, sans-serif;
    padding: 20px;

}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #999;
}

button[type="submit"] {
    display: flex;
    width: 30%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
    margin: 0 auto;
    
}

button[type="submit"]:hover {
    background-color: gray;
}

#mensaje {
    margin-top: 20px;
    text-align: center;
}

table {

    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

}

table, th, td {
    border: 1px solid #ccc;
    align-content: center;

}

th, td {
    
    padding: 10px;
    text-align: center; /* Center horizontally */
    vertical-align: middle;    
}

th {
    
    background-color: black;
    color: white;
}

button {
    display: flex;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    margin: 0 auto;
}

button:hover {
    background-color: #d32f2f;
}