<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% block styles %}
    {% endblock %}
    <style>
        .image-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .image-grid img {
            flex: 0 0 45%;
            margin: 2.5%;
        }
    </style>
</head>
<body>
    {% include 'base/header.html' %}
    <main>
        <div class="container">
            {% block content %}

            <!-- Galería de imágenes -->
            <section class="gallery">
                <div class="image-grid">
                    <img src="{% static 'images/carnaval1.jpg' %}" alt="Carnaval 1">
                    <img src="{% static 'images/carnaval1.jpg' %}" alt="Imagen 2">
                    <img src="{% static 'images/carnaval1.jpg' %}" alt="Imagen 3">
                    <img src="{% static 'images/carnaval1.jpg' %}" alt="Imagen 4">
                </div>
            </section>

            <!-- Espacio con el título de Noticias -->
            <h2 class="news-title">NOTICIAS</h2>

            <!-- Sección de noticias -->
            <section class="news">
                <div class="image-grid">
                    <img src="{% static 'images/carnaval2' %}" alt="Noticia 1">
                    <img src="{% static 'images/carnaval2' %}" alt="Noticia 2">
                    <img src="{% static 'images/carnaval2' %}" alt="Noticia 3">
                    <img src="{% static 'images/carnaval2' %}" alt="Noticia 4">
                </div>
            </section>
            
            {% endblock %}
        </div>
    </main>
    {% include 'base/footer.html' %}
</body>
</html>
